In [3]:
import pandas as pd
#sample_size=12000
df = pd.read_csv("data.csv")
df = df.dropna()
#df = df.sample(sample_size)
df.date = pd.to_datetime(df.date)
#df["date_day"] = list(map(lambda x: str(x).split()[0], df.date))
df = df.sort_values(by="date", ascending=True)
df.head()

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,coordinates,date,text,user,strength,emotion,date_day,date_hour
0,"(35.60456, 140.12311)",2018-08-27 10:31:03,„Åà„Å£„Å£„Åï„Åè„Çâ„ÇÇ„ÇÇ„Åì„Åï„Çì??!!!??,otirisuki,0.109074,5,2018-08-27,2018-08-27 10
1,"(35.60456, 140.12311)",2018-08-27 10:31:03,„Åä„ÅàÔºüÔºÅÔºüÔºÅÔºü„Åï„Åè„Çâ„ÇÇ„ÇÇ„Åì‰∫°„Åè„Å™„Å£„Åü„ÅÆÔºüÔºÅ„ÅàÔºüÔºÅ,suzaku44411,0.131976,5,2018-08-27,2018-08-27 10
2,"(35.60456, 140.12311)",2018-08-27 10:31:04,„Åà„Å£ÔºÅÔºü\n„Åï„Åè„Çâ„ÇÇ„ÇÇ„Åì„ÅåÊ≠ª„Çì„Å†ÔºÅÔºü,amane712,0.178794,5,2018-08-27,2018-08-27 10
3,"(36.56458, 139.88339)",2018-08-27 10:31:04,„Åï„Åè„Çâ„ÇÇ„ÇÇ„Åì„Åï„Çì‰∫°„Åè„Å™„Å£„Å¶„Åó„Åæ„Å£„Åü„ÅÆüò¢,ayuuumi18,0.0869896,1,2018-08-27,2018-08-27 10
4,"(35.706590000000006, 139.86792)",2018-08-27 10:31:04,„Åï„Åè„Çâ„ÇÇ„ÇÇ„Åì„Åï„Çì„ÅåÊ≠ªÂéª„Å£„Å¶„Åæ„ÅòÔºü,910168,0.0943402,4,2018-08-27,2018-08-27 10

In [33]:
import numpy as np
import pandas as pd
import math
from math import sqrt
from random import random
from ast import literal_eval as make_tuple

colors = ["orange", "blue", "green", "red", "gray", "purple"]
in_colors = []
in_coords = []
in_dates = []
in_infos = []
for i, d in df.iterrows():
    in_colors.append(colors[int(d['emotion'])])
    in_coords.append(make_tuple(d['coordinates']))
    in_dates.append(d['date_day'])
    in_infos.append(d['text'])

In [34]:
list(map(len, [in_colors,in_coords,in_dates, in_infos]))

[12000, 12000, 12000, 12000]

In [39]:
%load_ext autoreload
%autoreload 2
import mapgen
center = (38, 137)
mapgen.plot_2("test_map_ver4.html", center, in_coords, in_colors, in_dates, in_infos)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

True